<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agendamento de PETs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

      <ion-img class="imagem" src="./assets/img/fazenda.png"></ion-img>

    <div class="forms">
      <ion-item>
        <ion-label position="floating">Nome completo</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nome do PET</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo de serviço prestado</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-button id="open-modal">Selecionar data e horário do atendimento</ion-button>
        <ion-modal trigger="open-modal">
          <ng-template>
            <ion-content>
              <ion-datetime locale="pt-BR"></ion-datetime>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Status de atendimento</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Observações</ion-label>
        <ion-input></ion-input>
      </ion-item>


      <ion-button type="submit" class="cadastrar">Cadastrar atendimento</ion-button>
    </div>


  </div>
</ion-content>
